.answerbox {
  border: 1px;
  border-style: solid;
  padding: 5px;
  border-color: #666666;
    border-width: 2px;
  background: ##928d8d;
}

img {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4 {
  padding-bottom: 30px
}
